<div class="coantainer">

  <div class="jumbotron">

  </div>

  <div class="col-md-4 col-md-offset-1">
    <form class="form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add ingredients you like..." ng-model="favo_ingredient.name">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addFavoIngredients()">Add</button>
      </span>
      </div>

      <table class="table">
        <thead>
          <tr class="active">
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td>
              <input type="button" value="remove" class="btn btn-danger btn-xs">
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="col-md-4 col-md-offset-1">

    <form class="form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tell us what you don't like...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add</button>
      </span>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr class="active">
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td>
            <input type="button" value="remove" class="btn btn-danger btn-xs">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
