body{
  font-family: 'Abel', sans-serif;
}


.homepage-bg {
  background: url('../imgs/pasta.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 500px; /*same height as jumbotron*/
  top:0;
  left:0;
  z-index: -1;
}
.share-bg{
  background: url('../imgs/recipe.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron{
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

#register a{
  font-size: 14px;
}

.navbar {
  background: transparent;
  color: white;
}

.navbar-default {
  border: transparent;
}

.navbar-default .navbar-nav>li>a{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#show-recipe {
  background: transparent;
  color: black;
  width: 110px;
  border-color: black;
}
#show-recipe:hover{
  background: transparent;
  color: black;
  width: 120px;
  border-color: black;
  font-weight: bold;
}

.center{
  text-align: center;
  font-weight: bold;
  color: rgb(112, 186, 7);
  font-family: 'Lobster Two', cursive;
}

#todays-menu{
  margin-top: 20px;
}
.thumbnail{
  height: 400px;
}

.thumbnail img{
  height: 200px;
}
.caption,h3,p {
  text-align: center;
}
#sth-else{
  background-color: transparent;
  border-color: transparent;
}
#sth-else:hover{
  font-weight: bold;
}

#send-recipe{
  background: transparent;
  color: white;
  border-color: white;
}

#send-recipe:hover{
  background: transparent;
  color: rgb(4, 173, 138);
  border-color: rgb(4, 173, 138);
  font-weight: bold;
}
